@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Muli);
/* Fonts
 * font-family: 'Lato', sans-serif;
 * font-family: 'Muli', sans-serif;
 * font-family: 'Montserrat', sans-serif;
*/


/*
 * Page: Login
 * ----------------------
 */
.logo{
    width: 100%;
}

.login-logo{
    margin-bottom: 25px;
}

.login-page,
.register-page {
    background: black;
}

.login-page:after{
    content: "";
    background: url("../img/fundo-login.jpg") center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.checkbox label{
    padding: 0;
}

.login-box input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    outline: 0 none;
}

.login-box,
.register-box {
    width: 360px;
    margin: 7% auto 0 auto;
}

.button-entrar{
    margin-top: 5px;
}

.login-box-buttons{
    width: 360px;
    margin: 10px auto;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px #ddd;
    -moz-box-shadow: 0 2px 5px #ddd;
    box-shadow: 0 2px 5px #ddd;
}

.login-box-buttons a{
    color: #000;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.login-box-buttons a:hover{
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-box,
    .register-box {
        width: 90%;
        margin-top: 20px;
    }
}
.login-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}
.login-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
.social-auth-links {
    margin: 10px 0;
}

/* Contains the password input and the login button */
.lockscreen-credentials {
    margin-left: 70px;
}
.lockscreen-credentials .form-control {
    border: 0;
}
.lockscreen-credentials .btn {
    background-color: #fff;
    border: 0;
    padding: 0 10px;
}
.lockscreen-footer {
    margin-top: 10px;
}

/*
 * Page: Registrar
 * ----------------------
 */
.logo{
    width: 100%;
}

.registrar-logo{
    margin-bottom: 25px;
}

.registrar-page,
.register-page {
    background: black;
}

.registrar-page:after{
    content: "";
    background: url("../img/fundo-login.jpg") center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.checkbox label{
    padding: 0;
}

.registrar-box input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    outline: 0 none;
}

.registrar-box,
.register-box {
    width: 360px;
    margin: 7% auto 0 auto;
}

.button-entrar{
    margin-top: 5px;
}

.registrar-box-buttons{
    width: 360px;
    margin: 10px auto;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px #ddd;
    -moz-box-shadow: 0 2px 5px #ddd;
    box-shadow: 0 2px 5px #ddd;
}

.registrar-box-buttons a{
    color: #000;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.registrar-box-buttons a:hover{
    text-decoration: none;
}

@media (max-width: 768px) {
    .registrar-box,
    .register-box {
        width: 90%;
        margin-top: 20px;
    }
}
.registrar-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.registrar-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}
.registrar-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
.social-auth-links {
    margin: 10px 0;
}

/* Contains the password input and the registrar button */
.lockscreen-credentials {
    margin-left: 70px;
}
.lockscreen-credentials .form-control {
    border: 0;
}
.lockscreen-credentials .btn {
    background-color: #fff;
    border: 0;
    padding: 0 10px;
}
.lockscreen-footer {
    margin-top: 10px;
}

.select-cidade{
    width: 50%;
    display: inline-block;
}

.select-estado{
    width: 48%;
    display: inline-block;
}

.registrar-box select{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

label#error-label{
    display: none !important;
}

input.error{
    border: 1px solid red !important;
}

span.avisoObrg{
    font-family: 'Montserrat', sans-serif;
    color: #ea0036;
}

span.success{
    font-family: 'Montserrat', sans-serif;
    color: #00FF00 !important;
}

.label-error p{
    font-family: 'Montserrat', Sans-Serif;
    color: #F44336;
    margin: 0;
}

.label-error{
    border: 1px solid #F44336;
    text-align: center;
    padding: 10px 5px;
    -webkit-box-shadow: 1px 1px 2px #F44336;
    -moz-box-shadow:  1px 1px 2px #F44336;
    box-shadow: 2px 2px 2px #F44336;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.rect1, 
.rect2, 
.rect3, 
.rect4,
.rect5{
    background: red !important;
}