@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Muli);

/* Fonts
 * font-family: 'Lato', sans-serif;
 * font-family: 'Muli', sans-serif;
*/


/*
 * Page: Login
 * ----------------------
 */
.logo{
    width: 100%;
}

.login-logo{
    margin-bottom: 25px;
}

.login-page,
.register-page {
    background: black;
}

.login-page:after{
    content: "";
    background: url("../img/fundo-login.jpg") center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.checkbox label{
    padding: 0;
}

.login-box input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    outline: 0 none;
}

.login-box,
.register-box {
    width: 360px;
    margin: 7% auto 0 auto;
}

.button-entrar{
    margin-top: 5px;
}

.login-box-buttons{
    width: 360px;
    margin: 10px auto;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px #ddd;
    -moz-box-shadow: 0 2px 5px #ddd;
    box-shadow: 0 2px 5px #ddd;
}

.login-box-buttons a{
    color: #000;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.login-box-buttons a:hover{
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-box,
    .register-box {
        width: 90%;
        margin-top: 20px;
    }
}
.login-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}
.login-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
.social-auth-links {
    margin: 10px 0;
}

/* Contains the password input and the login button */
.lockscreen-credentials {
    margin-left: 70px;
}
.lockscreen-credentials .form-control {
    border: 0;
}
.lockscreen-credentials .btn {
    background-color: #fff;
    border: 0;
    padding: 0 10px;
}
.lockscreen-footer {
    margin-top: 10px;
}